* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    /* display: none; */
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease-in-out;
    z-index: 9999999;
}

.SideBarParent{
  background-color: red;
    overflow: hidden; /* Ensure the box doesn't overflow when parent width is 0 */
  transition: width 0.3s ease; 
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    padding: 10px 2px;
    color: #0040ff;
    white-space: nowrap;
    text-decoration: none;
    font-size: 16px;
    font-style: oblique;
}

.sidebar .links::-webkit-scrollbar {
    /* display: none; */
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    /* display: none; */
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li .lnk {
    padding: 10px;
    color: #000;
    /* display: none; */
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li .lnk {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}